# Local .terraform directories
**/.terraform/*
*/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*


# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# logs
*.log

# Directories
.terraform/
.vagrant/

# SSH Keys
*.pem

# Backup files
*.bkp

# Ignored Terraform files
*gitignore*.tf

*.zip
*.zip*
pkg/
pkg/*
*pkg/*